# Exercises: Level 1

1. Declare an empty list

In [1]:
empty_list= list()
print(len(empty_list))

0

2. Declare a list with more than 5 items

In [5]:
fruits= ['apple', 'banana', 'cherry', 'strawberry', 'orange', 'pawpaw', 'grape']
print(fruits)

['apple', 'banana', 'cherry', 'strawberry', 'orange', 'pawpaw', 'grape']

3. Find the length of your list

In [6]:
fruits= ['apple', 'banana', 'cherry', 'strawberry', 'orange', 'pawpaw', 'grape']
print(len(fruits))

7

4. Get the first item, the middle item and the last item of the list

In [7]:
fruits= ['apple', 'banana', 'cherry', 'strawberry', 'orange', 'pawpaw', 'grape']
first_item = fruits[0]

# Get the middle item (for an odd-length list, we'll take the exact middle item)
middle_index = len(fruits) // 2
middle_item = fruits[middle_index]
last_item = fruits[-1]

print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: apple
Middle item: strawberry
Last item: grape

5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)

In [8]:
mixed_data_types = ["Abdullahi", 20, 1.75, "Single", "Lagos"]
print(mixed_data_types)

['Abdullahi', 20, 1.75, 'Single', 'Lagos']

6.Declare a variable list named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon

In [ ]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. print the list using print()

In [9]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. print the number of companies in the list

In [10]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
number_of_items = len(it_companies)
print("Number of items in the list:", number_of_items)

Number of items in the list: 7

9. print the first,middle and last company

In [11]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first_company = it_companies[0]
middle_index = len(it_companies) // 2
middle_company = it_companies[middle_index]
last_company = it_companies[-1]

print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

First company: Facebook
Middle company: Apple
Last company: Amazon

10. print the list after modifying one of the companies

In [12]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[1]= 'Twitter'
print(it_companies)

['Facebook', 'Twitter', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [13]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append('Hilma Acquarium')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']

12. Insert an IT company in the middle of the companies list

In [14]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.insert(4, 'Breedcoins')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Breedcoins', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']

13. Change one of the it_companies name to uppercase (IBM Excluded)

In [15]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
index_to_change = 6
it_companies[index_to_change] = it_companies[index_to_change].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'AMAZON', 'Hilma Acquarium']

14. Join the it_companies with a string '#; '

In [1]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
joined_it_companies= '#; '.join(it_companies)
print(joined_it_companies)

Facebook#; Google#; Microsoft#; Apple#; IBM#; Oracle#; Amazon#; Hilma Acquarium

15. Check if a certain company exists in it_companies list

In [2]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
does_exist= 'Microsoft' in it_companies
print(does_exist)

True

16. Sort the list using sort() method

In [3]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'Hilma Acquarium', 'IBM', 'Microsoft', 'Oracle']

17. Reverse the list in descending order using reverse() method

In [4]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.reverse()
print(it_companies)

['Hilma Acquarium', 'Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

18.Slice out the first 3 companies from the list

In [5]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
first_three_it_companies= it_companies[:3]
print(first_three_it_companies)

['Facebook', 'Google', 'Microsoft']

19. slice out the last 3 companies from the list

In [7]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
last_three_it_companies= it_companies[-3:] 
print(last_three_it_companies)

['Oracle', 'Amazon', 'Hilma Acquarium']

20. Slice out the middle IT company or companies from the list

In [10]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
middle_index= len(it_companies) //2
middle_it_companies= it_companies[middle_index]
print("middle_it_companies:", middle_it_companies)

middle_it_companies: IBM

21. Remove the first IT company or companies from the list

In [11]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.remove('Facebook')
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']

22. Remove the middle IT company from the list

In [13]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.remove('IBM')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Oracle', 'Amazon', 'Hilma Acquarium']

23. Remove the last IT company from the list

In [12]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.remove('Hilma Acquarium')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

24. Remove all IT companies from the list

In [14]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies.clear()
print(it_companies)

[]

25. Destroy the IT company list

In [16]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Hilma Acquarium']
it_companies=[]
print(it_companies)

[]

26. Join the following lists:
    i. front_end= ['HTML', 'CSS', 'JS', 'React', 'Redux']
    ii. back_end= ['Node', 'Express', 'MongoDB]

In [17]:
front_end= ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end= ['Node', 'Express', 'MongoDB']
front_end_and_back_end= front_end +back_end
print(front_end_and_back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [18]:
full_stack= ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express','MongoDB']
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Exercises: Level 2

1. The following is alist of 10 students ages:
   ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

. Sort the list and find the min and max age

In [19]:
ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

Find the min and max age

In [20]:
min_age= min(ages)
max_age= max(ages)
print("min_age:", min_age)
print("max_age:", max_age)

min_age: 19
max_age: 26

. Add the min age and max age again to the list

In [21]:
ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
min_age= min(ages)
max_age= max(ages)
ages.append(min_age)
ages.append(max_age)
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]

. Find the median age (one middle item or two middle items divided by 2)

In [ ]:
ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
# Calculate the median
n = len(ages)
if n % 2 == 1:  # Odd number of items
    median_age = ages[n // 2]
else:  # Even number of items
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
print("Sorted ages:", ages)
print("Median age:", median_age)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Median age: 24.0

. Find the average age (sum of all the items divided by their number)

In [24]:
ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
average_age= sum(ages) / len(ages)
print(average_age)

22.8

. Find the range of the ages (max minus min)

In [25]:
ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
range_age= max(ages) - min(ages)
print(range_age)

7

. Compare the value of (min - average) and (max - average), use abs() method

2. Find the middle country(ies) in the countries list

In [28]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 
    'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Congo-Brazzaville)', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 
    'Czechia (Czech Republic)', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 
    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini (fmr. "Swaziland")', 
    'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 
    'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 
    'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 
    'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 
    'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 
    'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 
    'Mozambique', 'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 
    'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine State', 
    'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 
    'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 
    'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 
    'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 
    'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 
    'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 
    'United Arab Emirates', 'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 
    'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'
]
middle_index = len(countries) // 2

# Check if the number of countries is odd or even
if len(countries) % 2 == 1:
    # Odd number of countries, so there is one middle country
    middle_country = countries[middle_index]
    print("Middle country:", middle_country)
else:
    # Even number of countries, so there are two middle countries
    middle_countries = countries[middle_index - 1:middle_index + 1]
    print("Middle countries:", middle_countries)

Middle country: Liechtenstein

3. ['China', 'Russia', 'USA', Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [1]:
# List of countries
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries and group the rest
first_country, second_country, third_country, *scandic_countries = countries

# Print the results
print("First country:", first_country)
print("Second country:", second_country)
print("Third country:", third_country)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

# Tuple Exercises: Level 1

1. Creat an empty tuple

In [2]:
empty_tuple= ()
print(empty_tuple)

()

2. Creat a tuple containing names of your sisters and your brothers.

In [4]:
brothers= ('Adamu', 'Mahmud')
sisters= ('Halima', 'Aisha')

3. Join sisters and brothers tuples and assign to siblings

In [5]:
# Tuple containing names of sisters
sisters = ("Halima", "Aisha")

# Tuple containing names of brothers
brothers = ("John", "Mahmud")

# Join sisters and brothers tuples and assign to siblings
siblings = sisters + brothers

# Print the combined tuple
print(siblings)

('Halima', 'Aisha', 'John', 'Mahmud')

3. How many siblings do you have

In [6]:
siblings= ('Halima', 'Aisha', 'Adamu', 'Mahmud')
number_siblings= len(siblings)
print("number of siblings:", number_siblings)

number of siblings: 4

4. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [7]:
# Tuple containing names of siblings
siblings = ("Halima", "Aisha", "Adamu", "Mahmud")

# Names of father and mother
father = "Hassan"
mother = "Maryam"

# Create a new tuple that includes siblings, father, and mother
family_members = siblings + (father, mother)

# Print the new tuple
print(family_members)

('Halima', 'Aisha', 'Adamu', 'Mahmud', 'Hassan', 'Maryam')

# Tuple Exercises: Level 2

1. Unpack siblings and parents from family_members

In [9]:
# Tuple containing family members
family_members=("Halima", "Aisha", "Adamu", "Mahmud", "Hassan", "Maryam")

# Unpack siblings and parents from family_members
siblings = family_members[:4]  # First four are siblings
parents = family_members[4:]   # Last two are parents

# Print the results
print("Siblings:", siblings)
print("Parents:", parents)

Siblings: ('Halima', 'Aisha', 'Adamu', 'Mahmud')
Parents: ('Hassan', 'Maryam')

2. Creat Fruits, Vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [10]:
# Tuples for fruits, vegetables, and animal products
fruits = ("orange", "banana", "cherry", "pawpaw")
vegetables = ("carrot", "spinach", "potato", "lettuce")
animal_products = ("milk", "eggs", "cheese", "yogurt")

# Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products

# Print the combined tuple
print(food_stuff_tp)

('orange', 'banana', 'cherry', 'pawpaw', 'carrot', 'spinach', 'potato', 'lettuce', 'milk', 'eggs', 'cheese', 'yogurt')

3. Change the about food_stuff_tp tuple to a food_stuff_lt_list

In [12]:
# Tuples for fruits, vegetables, and animal products
fruits = ("orange", "banana", "cherry", "pawpaw")
vegetables = ("carrot", "spinach", "potato", "lettuce")
animal_products = ("milk", "eggs", "cheese", "yogurt")

# Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products

# Convert the tuple to a list
food_stuff_lt_list = list(food_stuff_tp)

# Print the list
print(food_stuff_lt_list)

['orange', 'banana', 'cherry', 'pawpaw', 'carrot', 'spinach', 'potato', 'lettuce', 'milk', 'eggs', 'cheese', 'yogurt']

4. Slice out the middle item or items from the tuple food_stuff_tp or food_stuff_lt

In [13]:
# Tuples for fruits, vegetables, and animal products
fruits = ("orange", "banana", "cherry", "pawpaw")
vegetables = ("carrot", "spinach", "potato", "lettuce")
animal_products = ("milk", "eggs", "cheese", "yogurt")

# Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products

# Convert the tuple to a list
food_stuff_lt = list(food_stuff_tp)

# Function to slice out the middle item(s)
def slice_middle_items(collection):
    length = len(collection)
    middle_index = length // 2

    if length % 2 == 1:
        # Odd number of items: one middle item
        return collection[middle_index]
    else:
        # Even number of items: two middle items
        return collection[middle_index - 1:middle_index + 1]

# Slice middle items from the tuple
middle_items_tuple = slice_middle_items(food_stuff_tp)
print("Middle item(s) from tuple:", middle_items_tuple)

# Slice middle items from the list
middle_items_list = slice_middle_items(food_stuff_lt)
print("Middle item(s) from list:", middle_items_list)

Middle item(s) from tuple: ('spinach', 'potato')
Middle item(s) from list: ['spinach', 'potato']

5. Slice out the first three items and the last three items from food_stuff_lt

In [14]:
# Tuples for fruits, vegetables, and animal products
fruits = ("orange", "banana", "cherry", "pawpaw")
vegetables = ("carrot", "spinach", "potato", "lettuce")
animal_products = ("milk", "eggs", "cheese", "yogurt")

# Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products

# Convert the tuple to a list
food_stuff_lt = list(food_stuff_tp)

# Slice the first three items
first_three_items = food_stuff_lt[:3]

# Slice the last three items
last_three_items = food_stuff_lt[-3:]

# Print the results
print("First three items:", first_three_items)
print("Last three items:", last_three_items)

First three items: ['orange', 'banana', 'cherry']
Last three items: ['eggs', 'cheese', 'yogurt']

6. Delete the food_stuff_tp tuple completely

In [2]:
# Tuples for fruits, vegetables, and animal products
fruits = ("orange", "banana", "cherry", "pawpaw")
vegetables = ("carrot", "spinach", "potato", "lettuce")
animal_products = ("milk", "eggs", "cheese", "yogurt")

# Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products

# Delete the food_stuff_tp tuple completely
del food_stuff_tp

# Trying to print food_stuff_tp now will raise an error because it has been deleted
try:
    print(food_stuff_tp)
except NameError:
    print("The tuple 'food_stuff_tp' has been deleted.")

The tuple 'food_stuff_tp' has been deleted.

7. Check if an item exits in food_stuff_tp

In [3]:
# Tuples for fruits, vegetables, and animal products
fruits = ("orange", "banana", "cherry", "pawpaw")
vegetables = ("carrot", "spinach", "potato", "lettuce")
animal_products = ("milk", "eggs", "cheese", "yogurt")

# Join the three tuples
food_stuff_tp = fruits + vegetables + animal_products

# Check if an item exists in the tuple
item_to_check = "banana"

# Use 'in' keyword to check if the item exists
item_exists = item_to_check in food_stuff_tp

# Print the result
print(f"Does '{item_to_check}' exist in food_stuff_tp? {item_exists}")

Does 'banana' exist in food_stuff_tp? True

8. Check if 'Estonia' is a nordic country

In [4]:
# List of Nordic countries
nordic_countries = ["Denmark", "Finland", "Iceland", "Norway", "Sweden"]

# Country to check
country_to_check = "Estonia"

# Check if the country is in the list of Nordic countries
is_nordic = country_to_check in nordic_countries

# Print the result
print(f"Is {country_to_check} a Nordic country? {is_nordic}")

Is Estonia a Nordic country? False

9. Check if Iceland is a nordic country

In [5]:
# List of Nordic countries
nordic_countries = ["Denmark", "Finland", "Iceland", "Norway", "Sweden"]

# Country to check
country_to_check = "Iceland"

# Check if the country is in the list of Nordic countries
is_nordic = country_to_check in nordic_countries

# Print the result
print(f"Is {country_to_check} a Nordic country? {is_nordic}")

Is Iceland a Nordic country? True

# Set Exercises: Level 1

1. find the length of the set it_companies

In [6]:
it_companies= ['Facebook', 'Google','Microsoft', 'Apple', 'IBM','oracle']

# Find the length of the set
length_of_it_companies = len(it_companies)

# Print the length
print("Length of the set it_companies:", length_of_it_companies)

Length of the set it_companies: 6

2. Add 'Twitter' to it_companies

In [13]:
it_companies= {'Facebook', 'Google','Microsoft', 'Apple', 'IBM','oracle'}
it_companies.add('Twitter')
print( it_companies)

{'IBM', 'Microsoft', 'oracle', 'Apple', 'Google', 'Facebook', 'Twitter'}

3. Insert multiple IT companies at once to the set it_companies

In [1]:
# Define the set of IT companies
it_companies = {"Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Twitter"}

# Add multiple IT companies to the set
new_companies = {"Amazon", "Hilma Acquarium", "LinkedIn"}
it_companies.update(new_companies)
print("Updated set of IT companies:", it_companies)

Updated set of IT companies: {'IBM', 'LinkedIn', 'Oracle', 'Twitter', 'Hilma Acquarium', 'Amazon', 'Microsoft', 'Google', 'Facebook', 'Apple'}

4. Remove one of the companies from the set it_companies

In [2]:
it_companies= {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Twitter'}
it_companies.remove('Oracle')
print(it_companies)

{'Twitter', 'IBM', 'Microsoft', 'Google', 'Facebook', 'Apple'}

5. What is the differnce between remove and discard

# Set Exercises; Level 2

1. Join A and B

In [5]:
A= {19, 22,24, 20, 25, 26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
# Join the sete
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

2. Find A intersection B

In [3]:
A= {19, 22, 24, 20, 25,26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
A.intersection(B)

{19, 20, 22, 24, 25, 26}

3. Is A subset of B

In [7]:
A= {19, 22, 24, 20, 25,26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
A.issubset(B)

True

4. Are A and B disjoint sets

In [6]:
A= {19, 22, 24, 20, 25,26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
A.isdisjoint(B)

False

5. Join A with B and B with A

In [10]:
A= {19, 22, 24, 20, 25,26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

6. What is the symmetric difference between A anb B

In [11]:
A= {19, 22, 24, 20, 25,26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
A.symmetric_difference(B)

{27, 28}

7. Delete the sets completely

In [12]:
A= {19, 22, 24, 20, 25,26}
B= {19, 22, 20, 25, 26, 24, 28, 27}
del A
del B

# Set Exercises: Level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger

In [14]:
ages= [22, 19, 24, 25, 26, 24, 25, 24]
ages= set(ages)
print(ages)

{19, 22, 24, 25, 26}

In [15]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]

# Convert the list to a set
ages_set = set(ages)
# Compare the lengths
length_of_list = len(ages)
length_of_set = len(ages_set)
print("Length of the list:", length_of_list)
print("Length of the set:", length_of_set)
print("Is the list longer than the set?", length_of_list > length_of_set)

Length of the list: 8
Length of the set: 5
Is the list longer than the set? True

2. Explain the difference between the following data types: string, list,tuple and set

| String  | List  |  Tuple  |  Set  |
|----------|----------|----------|----------|
|

4.

1.