##Day 2: 30 Days Of Python Programming

#Exercises: Level 1

1. Declaring Of Variables And Assigning of Values

In [ ]:
first_name= 'Halima'
last_name= 'Kamar'
full_name= 'Halima Kamar'
country= 'Nigeria'
city= 'Lagos'
age= 30
year= 1994
is_married= True
is_true= is_married
is_light_on= 'yes'

Declaring Multiple Variables on one line

In [4]:
first_name, last_name, full_name, country, city, age, year, is_married,is_light_on= 'Halima', 'Kamar', 'Halima Kamar', 'Nigeria', 'Lagos', 30, 1994, True, 'yes'
print(first_name, last_name, full_name, country, city, age, year,is_married, is_light_on)

Halima Kamar Halima Kamar Nigeria Lagos 30 1994 True yes

#Exercises: Level2

1. Checking Data Types

In [6]:
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_light_on))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>

2&3. Using the len() built-in function to find the length of the first name

In [7]:
first_name= 'Halima'
print(len(first_name))

6

In [8]:
last_name= 'Kamar'
print(len(last_name))

5

4. Variables

In [ ]:
num_one=5
num_two= 4

5. Addition Of Variables

In [9]:
num_one=5
num_two=4
print(num_one+num_two)

9

6. Subtraction Of Variables

In [10]:
num_one=5
num_two=4
print(num_one-num_two)

1

7. Division Of Variables

In [11]:
num_one=5
num_two=4
print(num_one/num_two)

1.25

8. Multiplication Of Variables

In [12]:
num_one=5
num_two=4
print(num_one*num_two)

20

9. Using Modulus Division to Divide Two Variables

In [13]:
num_one=5
num_two=4
print(num_one%num_two)

1

10. Using Exponential

In [14]:
num_one=5
num_two=4
print(num_one**num_two)

625

11. Floor Division Of num one by num two

In [15]:
num_one=5
num_two=4
print(num_one//num_two)

1

12. Calculating The Area Of a Circle

In [ ]:
r= 30
pi= 3.142
a= pi*(r**2)
print(a)

2827.7999999999997

Calculating The Circumfrence Of a Circle

In [ ]:
r= 30
pi= 3.142
c=2*pi*r
print(c)

188.51999999999998

Take radius as user input and calculate the area

In [ ]:
user_input_radius= 20
pi= 3.142
a= pi*(r**2)
print(a)

2827.7999999999997

Use the built-in function to get the first name, last name, country and age from a user and store the values to their corresponding variables name.

In [1]:
# Get user input for first name, last name, country, and age
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
country = input("Enter your country: ")
age = int(input("Enter your age: "))

# Print the stored values
print(f"First name: {first_name}")
print(f"Last name: {last_name}")
print(f"Country: {country}")
print(f"Age: {age}")

First name: Halima
Last name: Kamar
Country: Nigeria
Age: 30

Run help ('keywords') in python shell or in your file to check for python reserved words or keywords

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not